<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>

<body>
    <h1>Welcome to the Products Page, {{user.first_name}}!</h1>
    <!-- Product listing or other content goes here -->

    <form action="/api/users/logout" method="post">
    <button type="submit">Logout</button>
    </form>
</body>

</html>